@media (max-width: 991px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-toggle {
        display: block; 
        font-size: 24px; 
        cursor: pointer;
        order: 2;
    }


    .contact-button .whatsapp-btn {
        display: block; 
        margin-right: 10px; 
        order: 1;
    }

 
    .menu {
        display: none; 
    }

    .about-section {
        text-align: center; 
        padding: 10px;
    }

    .contact-section {
        text-align: center; 
        padding: 10px;
    }


    body {
        padding: 0 10px; 
    }

    .contact-button {
        display: flex;
        align-items: center;
    }
}

